#myDiv {
    margin: 50px 10px 10px 50px;
    width: 120px;
    height: 120px;
    background-color: green;
    border-radius: 10%;
}

body {
    background-color: pink;
    margin: 0px;
}

button {
    margin: 10px 10px 10px 50px;
    padding: 5px 10px;
    border: solid 2px black;
    background-color: pink;
    font-size: 25px;
    width: 240px;
}

button:hover {
    background-color: black;
    color: pink;
}

button:disabled {
    background-color: pink;
    color: white;
    border-color: white;
}

button:active{
    background-color: pink;
    color: white;
    border-color: white;
}

#hoverP{
    margin: 10px 10px 10px 50px;
    font-family: Arial, serif;
}